<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>
  <logger name="org.springframework" level="INFO"/>
  <logger name="org.hibernate" level="INFO"/>
  <logger name="jdbc.connection" level="OFF"/>
  <logger name="jdbc.audit" level="OFF"/>
  <logger name="jdbc.resultset" level="OFF"/>
  <logger name="jdbc.sqlonly" level="OFF"/>
  <logger name="jdbc.sqltiming" level="INFO"/>
  <logger name="druid.sql" level="INFO"/>
  <logger name="druid.sql.DataSource" level="INFO"/>
  <logger name="druid.sql.Connection" level="INFO"/>
  <logger name="druid.sql.Statement" level="INFO"/>
  <logger name="druid.sql.ResultSet" level="INFO"/>
</configuration>